[alias]
	co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[user]
	name = stevievines
	email = stevievines@gmail.com
[push]
  default = current
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[url "git@github.com:"]
	insteadOf = https://github.com/
